[Unit]
Description=Countdown timer daemon
Requires=sandd.socket

[Service]
; TODO change path
ExecStart=/home/james/dev/sand/.lake/build/bin/sandd

[Install]
WantedBy=default.target
