[Unit]
Description=Countdown timer daemon
Requires=timerd.socket

[Service]
; TODO change path
ExecStart=/home/james/dev/timer-lean/.lake/build/bin/timerd

[Install]
WantedBy=default.target
